{
  auto_https disable_redirects
}

(aivudaos_site) {
  encode zstd gzip

  @api path /aivuda_os/api*

  route {
    handle @api {
      reverse_proxy 127.0.0.1:8000
    }

    handle {
      root * ./ui/dist
      try_files {path} /index.html
      file_server
    }
  }
}

http://:80 {
  import aivudaos_site
}

https://{$AIVUDAOS_PUBLIC_HTTPS_HOST:127.0.0.1}:8443, https://{$AIVUDAOS_PRIVATE_HTTPS_HOST:127.0.0.1}:8443 {
  tls internal
  import aivudaos_site
}